<div class="book relative">
  <div class="container">
    <p-tabView>
      <p-tabPanel header="hotel">
        <div class="form-group">
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Your Destination</label>
            <input
              id="destination"
              type="text"
              placeholder="Your Destination and Hotel Name"
              class="destination-input tall-inputs"
            />
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Check In</label>
            <p-calendar
              dateFormat="mm/dd/yy"
              placeholder="mm/dd/yy"
              class="calendar-input"
              showIcon="true"
            ></p-calendar>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Check Out</label>
            <p-calendar
              dateFormat="mm/dd/yy"
              placeholder="mm/dd/yy"
              class="calendar-input"
              showIcon="true"
            ></p-calendar>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms">Rooms</label>
            <div class="dropdown-group">
              <p-dropdown
                [options]="roomOptions"
                placeholder="01"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms">Adults</label>
            <div class="dropdown-group">
              <p-dropdown
                [options]="roomOptions"
                placeholder="01"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>

          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms">Kids</label>
            <div class="dropdown-group">
              <p-dropdown
                [options]="roomOptions"
                placeholder="01"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
        </div>
      </p-tabPanel>
      <p-tabPanel header="flights">
        <div class="form-group">
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Leaving From</label>
            <input
              id="destination"
              type="text"
              placeholder="City,distirct or specific airpot"
              class="destination-input tall-inputs"
            />
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Departing On</label>
            <p-calendar
              dateFormat="mm/dd/yy"
              placeholder="mm/dd/yy"
              class="calendar-input"
              showIcon="true"
            ></p-calendar>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms"></label>
            <div class="dropdown-group day-time">
              <p-dropdown
                [options]="dayTime"
                placeholder="Anytime"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms">Adults</label>
            <div class="dropdown-group">
              <p-dropdown
                [options]="roomOptions"
                placeholder="01"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>

          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms">Kids</label>
            <div class="dropdown-group">
              <p-dropdown
                [options]="roomOptions"
                placeholder="01"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Promocode</label>
            <input
              id="destination"
              type="text"
              placeholder="Type here"
              class="destination-input"
            />
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Going To</label>
            <input
              id="destination"
              type="text"
              placeholder="City,distirct or specific airpot"
              class="destination-input tall-inputs"
            />
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Arriving On</label>
            <p-calendar
              dateFormat="mm/dd/yy"
              placeholder="mm/dd/yy"
              class="calendar-input"
              showIcon="true"
            ></p-calendar>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms"></label>
            <div class="dropdown-group day-time">
              <p-dropdown
                [options]="dayTime"
                placeholder="Anytime"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms">Infants</label>
            <div class="dropdown-group">
              <p-dropdown
                [options]="roomOptions"
                placeholder="01"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
        </div>
      </p-tabPanel>
      <p-tabPanel header="cruise">
        <div class="form-group">
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Your Destination</label>
            <input
              id="destination"
              type="text"
              placeholder="enter a destination or hotel name"
              class="destination-input tall-inputs"
            />
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Departure Date</label>
            <p-calendar
              dateFormat="mm/dd/yy"
              placeholder="mm/dd/yy"
              class="calendar-input"
              showIcon="true"
            ></p-calendar>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms">Cruise Length</label>
            <div class="dropdown-group day-time">
              <p-dropdown
                [options]="cruiseLength"
                placeholder="1-2 Nights"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms">Cruise Line</label>
            <div class="dropdown-group day-time">
              <p-dropdown
                [options]="cruiseLine"
                placeholder="Azamara club cruises"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
        </div>
      </p-tabPanel>
      <p-tabPanel header="cars">
        <div class="form-group">
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Pick Up</label>
            <input
              id="destination"
              type="text"
              placeholder="city, distirct or specific airpot"
              class="destination-input tall-inputs"
            />
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Pick Up Date/Time</label>
            <p-calendar
              dateFormat="mm/dd/yy"
              placeholder="mm/dd/yy"
              class="calendar-input"
              showIcon="true"
            ></p-calendar>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms"></label>
            <div class="dropdown-group day-time">
              <p-dropdown
                [options]="dayTime"
                placeholder="Anytime"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms">Adults</label>
            <div class="dropdown-group">
              <p-dropdown
                [options]="roomOptions"
                placeholder="01"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>

          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms">Kids</label>
            <div class="dropdown-group">
              <p-dropdown
                [options]="roomOptions"
                placeholder="01"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Promocode</label>
            <input
              id="destination"
              type="text"
              placeholder="Type here"
              class="destination-input"
            />
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Drop Off</label>
            <input
              id="destination"
              type="text"
              placeholder="city, distirct or specific airpot"
              class="destination-input tall-inputs"
            />
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="destination">Drop Off Date/Time</label>
            <p-calendar
              dateFormat="mm/dd/yy"
              placeholder="mm/dd/yy"
              class="calendar-input"
              showIcon="true"
            ></p-calendar>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms"></label>
            <div class="dropdown-group day-time">
              <p-dropdown
                [options]="dayTime"
                placeholder="Anytime"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
          <div class="input-group">
            <label for="rooms"></label>
            <div class="dropdown-group day-time">
              <p-dropdown
                [options]="carType"
                placeholder="Economy"
                class="custom-dropdown"
              ></p-dropdown>
            </div>
          </div>
          <!-- =========================== -->
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
