.book {
  height: 700px;
}

:host ::ng-deep .p-tabview-nav {
  border-bottom: 2px solid #01b7f2;
  background: transparent;
  position: absolute;
  top: -46px;
}
/* :host ::ng-deep .p-highlight.ng-star-inserted, */
:host ::ng-deep li.ng-star-inserted {
  position: relative;
  padding: 14px 40px;
  background: rgba(255, 255, 255, 0.6);
  margin-right: 5px;
  transition: 0.5s all;
}
:host ::ng-deep li.ng-star-inserted:hover {
  background-color: #01b7f2;
  color: #ffffff;
}
:host ::ng-deep li.ng-star-inserted::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: #00a3c8;
  transition: 0.5s all;
}
:host ::ng-deep li.p-highlight.ng-star-inserted {
  background-color: #01b7f2;
  color: #ffffff;
}
:host ::ng-deep li.p-highlight.ng-star-inserted::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  height: 0;
  width: 0;
  transform: translate(-50%, 0%);
  border-width: 10px;
  border-style: solid;
  border-color: #01b7f2 transparent transparent transparent;
}
:host ::ng-deep .ng-star-inserted:hover::before {
  width: 100%;
}
:host ::ng-deep .p-element.p-ripple.p-tabview-nav-link,
:host ::ng-deep .p-tabview-title.ng-star-inserted {
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  color: #000;
}
:host ::ng-deep .p-tabview-title.ng-star-inserted {
  padding: 2px;
}
:host ::ng-deep .p-tabview-panels {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 20px;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: end;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.destination-input {
  flex-grow: 2;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #f5f5f5;
}
.tall-inputs {
  min-width: 240px;
}

/* .input-group:nth-child(2),
.input-group:nth-child(3) {
  width: 150px;
} */
input,
:host ::ng-deep input:focus {
  border-bottom: 2px solid #01b7f2;
  outline: none;
  box-shadow: none;
}
:host ::ng-deep input {
  max-width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 30px 0 0 30px;
  outline: none;
  background-color: #f5f5f5;
}
::ng-deep .p-element.p-ripple.p-datepicker-trigger.p-button-icon-only {
  background-color: #0b3954;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
}
:host ::ng-deep .p-dropdown-label {
  padding: 10px;
  border: none;
  background-color: #f0f4f7;
  width: 50px;
  text-align: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
:host ::ng-deep .day-time .p-dropdown-label {
  min-width: 100px;
}

:host ::ng-deep .p-dropdown-trigger {
  background-color: #0b3954;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
:host ::ng-deep .p-element.ng-star-inserted li {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ====< MEDIA QUERY >====== */
@media (max-width: 521px) {
  :host ::ng-deep .p-tabview-nav {
    display: flex;
    flex-direction: column;
    top: -184px;
  }
  :host ::ng-deep li.p-highlight.ng-star-inserted::after {
    border-color: transparent #01b7f2 transparent transparent;
    top: 50%;
    left: -19px;
    transform: translate(0%, -50%);
  }
  :host ::ng-deep li.ng-star-inserted::before {
    height: 0;
    width: 100%;
  }
  :host ::ng-deep .ng-star-inserted:hover::before {
    height: 100%;
  }
}
