/* ==== START ROOT==== */
:root {
  --black: #000000;
  --opacity-black: #00000061;
  --dark-gray: #434a54;
  --light-gray: #f2f2f2;
  --sky-blue: #5d5fef;
  --white: #ffffff;
  --ligh-blue: #8ac7f1;
}
/* ==== end ROOT==== */
