<div class="plan_content">
  <div class="container">
    <!-- ==== content ==== -->
    <div class="text_content">
      <span class="span_text">Dream Vacation Destination</span>
      <h2 class="medium_header">Plan the Trip of a Lifetime with Ease</h2>
      <p class="small_text">
        Whether you're looking for a romantic getaway, a family-friendly
        adventure, or a solo journey to explore the world, a travel agency can
        provide you with a custom-tailored itinerary that exceeds your
        expectations.
      </p>
      <button>More Info</button>
    </div>
    <!-- ==== images with location ==== -->

    <div class="images">
      @for( location of locations ;track location.id){
      <div class="{{ location.class }} plan-img">
        <img [src]="location.image" alt="location" />
        <p class="small_text">{{ location.text }}</p>
      </div>
      }
    </div>
    <!-- ==== plan cards ==== -->

    <div class="cards">
      @for(plan of plans;track plan.id){
      <div class="card {{ plan.class }}">
        <div class="img-div">
          <span>SALE</span>
          <img [src]="plan.image" alt="plan" />
        </div>
        <div class="card-content">
          <div class="info">
            <div class="time">
              <i class="ri-time-fill"></i>
              <p>{{ plan.Timeperiod }}</p>
            </div>
            <div class="contact">
              <i class="ri-mail-fill"></i>
              <img src="images/icons/Symbol.svg" alt="icon" />
            </div>
          </div>
          <div class="loction">
            <h4 class="small_header">{{ plan.name }}</h4>
            <p class="small_text"><i class="ri-map-pin-fill"></i>Thailand</p>
          </div>
          <div class="tetx">
            <p class="small_text">
              {{ plan.text }}
            </p>
          </div>
          <div class="details">
            <button>Details</button>
            <div>
              <p>From</p>
              @if(plan.descound){
              <p class="price">
                $ {{ plan.descound }}
                <span class="small_text">$ {{ plan.price }} </span>
              </p>
              }@else {
              <p class="price">$ {{ plan.price }}</p>
              }
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
