<div class="plan_content">
  <div class="container">
    <!-- ==== content ==== -->
    <div class="text_content">
      <span class="span_text">Dream Vacation Destination</span>
      <h2 class="medium_header">Plan the Trip of a Lifetime with Ease</h2>
      <p class="small_text">
        Whether you're looking for a romantic getaway, a family-friendly
        adventure, or a solo journey to explore the world, a travel agency can
        provide you with a custom-tailored itinerary that exceeds your
        expectations.
      </p>
      <button>More Info</button>
    </div>
    <!-- ==== images with location ==== -->
    <div class="images">
      <div class="image_1 plan-img">
        <img src="images/icons/location.svg" alt="location" />
        <p class="small_text">City Walks Tour</p>
      </div>
      <div class="image_2 plan-img">
        <img src="images/icons/pyramids.svg" alt="pyramids" />
        <p class="small_text">Electric Bikes</p>
      </div>
      <div class="image_3 plan-img">
        <img
          src="images/icons/Section → c-icon-visual-03.gif.svg"
          alt="skyscrapers"
        />
        <p class="small_text">Skyscrapers View</p>
      </div>
    </div>
    <!-- ==== plan cards ==== -->
    <div class="container">
      <div class="cards">
        <div class="card first_card">
          <div class="img-div">
            <span>SALE</span>
            <img src="images/home/trip-plan/plan1.png" alt="plan" />
          </div>
          <div class="card-content">
            <div class="info">
              <div class="time">
                <i class="ri-time-fill"></i>
                <p>1 Week</p>
              </div>
              <div class="contact">
                <i class="ri-mail-fill"></i>
                <img src="images/icons/Symbol.svg" alt="icon" />
              </div>
            </div>
            <div class="loction">
              <h4>Chiang Mai</h4>
              <p><i class="ri-map-pin-fill"></i>Thailand</p>
            </div>
            <div class="tetx">
              <p>
                Visit the temples and the Chiang Mai Night Bazaar, a huge huge
                market located on Chiang Klan Road.
              </p>
            </div>
            <div class="details">
              <button>Details</button>
              <div>
                <p>From</p>
                <p class="price">$ 490</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card second_card">
          <div class="img-div">
            <span>SALE</span>
            <img src="images/home/trip-plan/plan2.png" alt="plan" />
          </div>
          <div class="card-content">
            <div class="info">
              <div class="time">
                <i class="ri-time-fill"></i>
                <p>5 Days</p>
              </div>
              <div class="contact">
                <i class="ri-mail-fill"></i>
                <img src="images/icons/Symbol2.svg" alt="icon" />
              </div>
            </div>
            <div class="loction">
              <h4>Chao Phraya</h4>
              <p><i class="ri-map-pin-fill"></i>Thailand</p>
            </div>
            <div class="tetx">
              <p>
                Boat tour in the capital of Thailand, Bangkok, to see the
                beautiful palaces and monuments from the water.
              </p>
            </div>
            <div class="details">
              <button>Details</button>
              <div>
                <p>From</p>
                <p class="price">$ 98 <span>$ 134 </span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card third_card">
          <div class="img-div">
            <span>SALE</span>
            <img src="images/home/trip-plan/plan3.png" alt="plan" />
          </div>
          <div class="card-content">
            <div class="info">
              <div class="time">
                <i class="ri-time-fill"></i>
                <p>10 Days</p>
              </div>
              <div class="contact">
                <i class="ri-mail-fill"></i>
                <img src="images/icons/Symbol3.svg" alt="icon" />
              </div>
            </div>
            <div class="loction">
              <h4>Bangkok</h4>
              <p><i class="ri-map-pin-fill"></i>Thailand</p>
            </div>
            <div class="tetx">
              <p>
                Marvelous culinary and cultural trip to the Thai capital with
                its wonderful monuments and Buddha statues.
              </p>
            </div>
            <div class="details">
              <button>Details</button>
              <div>
                <p>From</p>
                <p class="price">$ 1000 <span>$ 1023 </span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
