<div class="trip_search_content">
  <div class="container">
    <span class="header1 span_text">Choose your Trip</span>
    <h2 class="header2 xmedium_header">Start your Vacation Now</h2>
    <p class="text small_text">
      Looking for your dream vacation destination but don't know where to start?
      With the help of experienced and knowledgeable travel agents, you can plan
      the trip of a lifetime with ease.
    </p>
    <div class="search_content">
      <div class="search option">
        <i class="ri-search-line"></i>
        <div class="input">
          <label class="label small_text" for="search">Search</label>
          <input type="text" id="search" placeholder="Insert keyword" />
        </div>
      </div>
      <div class="destinations option">
        <i class="ri-map-pin-2-fill"></i>
        <div class="input">
          <label class="label small_text" for="destinations"
            >Destinations</label
          >
          <select name="destinations" id="destinations">
            <option value="">New York, USA</option>
            <option value="">Tokyo</option>
            <option value="">Dubai</option>
          </select>
        </div>
      </div>
      <div class="typologies option">
        <i class="ri-menu-fill"></i>
        <div class="input">
          <label class="label small_text" for="typologies">Typologies</label>
          <select name="typologies" id="typologies">
            <option value="">New York, USA</option>
            <option value="">Tokyo</option>
            <option value="">Dubai</option>
          </select>
        </div>
      </div>
      <button>SEARCH</button>
    </div>
  </div>
</div>
